// clearfix 

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// Remove list styles

@mixin noList {
    list-style: none;
}

// float left or right

@mixin floatLeft {
    float: left;
}

@mixin floatRight {
    float: right;
}