// PRIMARY  COLORS
$primary: #0f74a0;
$secondary: #9bc33f;
$extra: #fb9f33;

// EXTRA COLORS
$light-gray: #f4f4f4;
$medium-gray: #494B4C;
$dark-gray: #3D3F40;
$medium-light-gray:#cccccc;
$black: #000000;
$white: #ffffff;