.contact-bar {

    &__container {
        width: 80%;
        margin: 0rem auto;
        padding-top: 1rem;
        @include clearfix;
    }


    &__left-side {

        @include floatLeft;
        @include noList;

        li {
            @include floatLeft;
            padding: 0 1rem 0;

        }

    }


    &__right-side {

        @include floatRight;
        @include noList;

        li {
            @include floatLeft;
            padding: 0 1rem 0;
        }

    }
}