<div class="top-bar">     
    <div class="top-bar-left">        
        <ul class="menu align-left grid-x grid-margin-x">
            {{#each info.left }}
                <li>{{{ info }}}</li>
            {{/each }}                
        </ul>
    </div>        


    <div class="top-bar-right">
        <ul class="menu align-left grid-x grid-margin-x">
            {{#each about.right }}
                <li>{{{ info }}}</li>
            {{/each }}                
        </ul>
    </div>    
</div>